.filter-panel {
  width: 280px;
  background-color: white;
  padding: 1rem;
  border-right: 1px solid #46c20d;
  position: sticky;
  top: 90px;
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;

  // @media (max-width: 1024px) {
  //   width: 240px;
  //   padding: 0.75rem;
  // }

  // @media (max-width: 768px) {
  //   width: 200px;
  //   padding: 0.5rem;
  // }

  .filter-header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .filter-icon {
      .filter-button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;

        h3 {
          font-size: clamp(0.9rem, 2vw, 1.1rem);
          font-weight: bold;
          margin-left: 10px;
        }
      }
    }

    .clear-filters-button {
      background: none;
      border: none;
    }
  }

  .filter-section {
    margin-bottom: 10px;

    h4 {
      color: #374151;
      font-size: clamp(16px, 1.5vw, 20px);
      margin-bottom: 10px;
    }

    .filter-button {
      background: none;
      border: none;
      margin: 0;
      padding: 0;
    }

    .filter-options {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      .filter-option {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        position: relative;

        input[type='checkbox'] {
          width: 1rem;
          height: 1rem;
          border: 1px solid #d1d5db;
          border-radius: 3px;
          cursor: pointer;

          &:checked {
            background-color: #2563eb;
            border-color: #2563eb;
          }
        }

        span {
          color: #4b5563;
          cursor: pointer;
          font-size: clamp(13px, 1.2vw, 15px);

          &.stars {
            color: #4b0082;
            margin-right: 40px;
            font-size: clamp(20px, 2vw, 25px);
          }
        }

        .info-icon {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          border: 1px solid #9ca3af;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.75rem;
          color: #9ca3af;
          cursor: pointer;
          margin-left: auto;
          position: relative;

          .info-tooltip {
            visibility: hidden;
            position: absolute;
            right: 17px;
            top: 17%;
            transform: translateY(-50%);
            width: max-content;
            max-width: 180px;
            background-color: white;
            border: 1px solid #e5e7eb;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            padding: 0.5rem;
            font-size: 0.875rem;
            color: #4b5563;
            z-index: 1;
          }

          &:hover .info-tooltip {
            visibility: visible;
          }
        }

        .focus-button {
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;

          .check-icon {
            color: white;
            font-size: 0.875rem;
          }
        }

        .focus-label {
          font-size: 0.9rem;
          color: #4b5563;
        }
      }
    }
  }

  .filter-divider {
    margin: 10px 50px 10px 30px;
    height: 1px;
    background-color: #46c20d;
    padding: 0.5px;
    @media (max-width: 768px) {
      margin: 10px 40px 8px 15px;
    }
  }

  .bookmark-button {
    flex-shrink: 0;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 0;
    margin-left: -15px;

    h4 {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #adaeaf;
      font-weight: bold;
      margin: 0;
      font-size: clamp(13px, 1.2vw, 15px);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .filter-icon-image {
    /*
    Adjust the filter values to change the color.
    - invert(69%): Inverts the black to white. Adjusting this changes the "base" color before hue manipulation.
    - sepia(29%): Adds a slight sepia tone to get more natural colors. You can increase this if you want more of a warm tone.
    - saturate(500%): Boosts the intensity of the colors. Increase this for more vibrant blue.
    - hue-rotate(173deg): Shifts the hue towards the blue spectrum. Adjust this to get different shades of blue.
    - brightness(120%): Makes the color brighter. Increase this to make it even brighter.
    - contrast(100%): Controls the contrast between dark and light areas. Increase this for more distinction.
  */
    filter: invert(69%) sepia(29%) saturate(900%) hue-rotate(173deg)
      brightness(100%) contrast(90%);
  }
}

.filter-panel {
  @media (max-width: 645px) {
    display: none;
  }
}

/* NEW, for mobile first and small devices */

.blue-filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00aaff; // Set the blue background color
  padding: 8px;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;

  .filter-icon-button,
  .bookmark-icon-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .main-content {
    .blue-filter-bar {
      display: flex;
    }
  }
}

@media (min-width: 646px) {
  .main-content {
    .blue-filter-bar {
      display: none; // Ensure the blue bar shows up on small screens
    }
  }
}

.filter-panel.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #95dcff;
  z-index: 1000;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  color: white;

  .filter-divider {
    background-color: #4f88eb;
  }

  .close-overlay-button {
    color: rgb(0, 0, 0);
  }

  .share-filters {
    background-color: #95dcff;
    color: rgb(0, 0, 0);
  }

  .filter-icon-image {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%)
      contrast(100%);
  }

  .close-overlay-button {
    display: block;
  }

  .share-bookmarks {
    margin-top: 7px;
    border-radius: 5px;
  }

  .bookmark-input {
    margin: 0 0px;
  }

  .create-button {
    margin-left: 2px;
    border-radius: 5px;
  }

  .filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    .clear-filters-button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  .filter-section {
    color: white;
  }

  .filter-option label {
    color: white;
  }

  .focus-button {
    color: white;
  }
}

.clear-filters-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .large-screen-icon {
    display: inline;
    margin-right: 20px;
  }
}

.close-overlay-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .small-screen-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  // .large-screen-icon {
  //   display: none; // hide clear icon on small screens
  // }

  .small-screen-icon {
    display: inline; // "×" symbol on small screens
  }
}

.blue-filter-bar {
  max-height: 50px;

  .back-button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
  }

  .filter-icon-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 0px;
  }

  .share-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    margin-bottom: 25px;
    margin-right: 40vw;

    &:hover {
      background: none;
    }
  }
}

.share-filters {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between icon and text */
  padding: 8px 12px;
  border: none;
  background-color: #ffffff;
  color: rgb(118, 205, 240);
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}

@media screen and (min-width: 601px) {
  .close-overlay-button {
    display: none;
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0.5;
    transform: translateX(-100%);
  }
}

.filter-panel.closing {
  animation: fadeOutLeft 0.25s ease-in forwards;
  // position: relative;
  // overflow: hidden;
}