// src/styles/MeasureDetailPage.module.scss

.measure-detail-container {
  display: grid;
  grid-template-columns: 25% 55% 15%; /* Three columns: left 1fr, middle 2fr, right 1fr */
  gap: 20px; /* Add space between the columns */
  margin-top: 6rem;
  margin-left: 250px;
  margin-right: 250px;

  @media (max-width: 1920px) {
    grid-template-columns: 25% 45% 25%;
  }

  /* Add responsiveness */
  @media (max-width: 1240px) {
    grid-template-columns: 1fr 2fr; /* Two columns on medium screens */
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr; /* One column on small screens */
  }

  @media screen and (max-width: 1670px) {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.measure-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;

  /* Hide on mobile screens */
  @media (max-width: 645px) {
    display: none;
  }
}

@media (max-width: 768px) {
  .measure-card {
    margin-top: -65px;
    margin-left: 0px;
  }
}

.measure-code {
  font-size: 1.5rem; /* Slightly larger font for prominence */
  font-weight: bold; /* Make the code stand out */
  color: black; /* Use theme color for consistency */
  padding-left: 15px;
  padding-bottom: 10px;
}

.measure-card {
  position: flex;
  flex-direction: column; /* Stack code, card, and other elements vertically */
  align-items: flex-start; /* Align everything to the left */
  margin-bottom: 2rem; /* Space below the measure card */
}

.focuse-balls {
  padding-left: 25px;
}

.description-container {
  display: flex;
  flex-direction: column;

  .blue-line {
    width: 20%;
    height: 8px; /* Height of the line */
    background-color: #4a90e2; /* Default color (blue) */
  }

  /* Priority-based coloring */
  &.priority-1 .blue-line {
    background-color: #e5f7fb;
  }

  &.priority-2 .blue-line {
    background-color: #cceef7;
  }

  &.priority-3 .blue-line {
    background-color: #9adfef;
  }

  .top-blue-line {
    margin-bottom: 20px; /* Optional, remove any bottom space */
  }

  .bottom-blue-line {
    margin-top: 20px; /* Optional, adjust space from the description text */
  }

  .description-text {
    font-size: 1rem;
    line-height: 1.5;
    color: #333; /* Standard text color */
  }
}

.cities-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(190 252 255 / 90%);
  border-radius: 8px;
  margin-bottom: 35px;

  h2 {
    color: #4a0a78;
    margin-top: 1rem;
  }

  &.priority-1 {
    background-color: #e5f7fb;
  }

  &.priority-2 {
    background-color: #cceef7;
  }

  &.priority-3 {
    background-color: #9adfef;
  }
}

.city-item {
  display: flex;
  flex-direction: column; /* Change to column layout so city name and arrow stack vertically */
  align-items: flex-start; /* Align city name and arrow to the left */
  width: 100%; /* Ensure it takes up the full width */
  margin-bottom: 10px; /* Optional: Add spacing between items */
}

.city-item-link {
  text-decoration: none;
  color: rgb(55, 55, 55);
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 5px; /* Space between the city name and the arrow */
  display: inline-block; /* Ensures the city name stays inline with the arrow */
}

.arrow-button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  color: #4a0a78;
  width: 25px;
  height: 25px;
  transition: transform 0.2s;
  color: inherit;
}

.arrow-right {
  transform: rotate(0deg); /* Right arrow rotation */
}

.arrow-down {
  transform: rotate(90deg); /* Downward arrow rotation when open */
}

.dropdown-menu {
  margin-top: 1px; /* Adds space between the city name/arrow and the dropdown */
}

.city-link {
  font-size: 1rem; /* Smaller font size for the link */
  color: rgb(100, 100, 100);
  text-decoration: none;
  padding-left: 10px; /* Add padding to the left of the link */
  display: block; /* Ensure it's block-level so it sits below the city name */
  margin-top: 5px; /* Optional: Adds some space between the city name and the link */

  &:hover {
    color: #4a0a78; /* Change the color on hover */
  }
}

.cities-list {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Stretch city items to fill container width */
  padding-left: 20px;
  width: 100%; /* Ensure list takes full width of container */
}

.no-city-message {
  font-size: 1rem;
  color: #4a0a78; /* You can choose a color here */
  margin-top: 1rem;
  font-weight: 600;
  text-align: center;
}