.app {
  display: flex;
}

.sidebar {
  width: 20%;
  padding: 20px;
  background-color: #f4f4f4;
}

.main-content {
  width: 80%;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.measures-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 20px;
}

.measure-card {
  position: relative; /* Keep the card positioned relative */
  background-color: #aee1f9; /* Blue background */
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  font-size: 25px;
  font-weight: bold;
  overflow: hidden; /* Prevents child elements from overflowing */
}

.measure-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0; /* Adjusted to position the corner at the bottom right */
  width: 80px; /* Width of the white corner */
  height: 80px; /* Height of the white corner */
  background-color: white; /* White background for the corner */
  border-top-left-radius: 100px; /* Matches the card's border radius */
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Center align vertically */
  margin-top: auto; /* Push it to the bottom */
}

//   .card-header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }

.stars {
  color: #4b0082;
  font-size: 40px;
}

// .card-body h5 {
//   margin: 40px 40;
// }

.card-footer {
  display: flex;
  justify-content: flex-end;
  margin-right: -14px;
  margin-top: -26px;
}

.arrow-button {
  background-color: transparent;
  border: none;
  font-size: 55px;
  cursor: pointer;
  z-index: 1; /* Ensure it's above the card background */
}

.filter-panel {
  h3,
  h4 {
    margin-bottom: 10px;
  }
  label {
    margin: 2px;
    margin-left: 5px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .close-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #d32f2f;
    }
  }
}

.clear-filters-button {
  margin-top: 20px;
  padding: 10px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #d32f2f;
  }
}

.share-button {
  margin-top: 20px;
  //   margin-left: 380px;
  padding: 10px 20px;
  background-color: #3a9dc1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #3042a9;
  }
}

.add-button {
  margin-top: 20px;
  margin-left: 5px;
  padding: 10px 20px;
  background-color: #3a9dc1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #3042a9;
  }
}

.checkbox {
  margin-right: 4px;
}

footer {
    background-color: #011633;
    padding: 50px 0 35px 0;
    color: white !important;
    font-family: FabrikatNormal;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 1.75;
}

footer a {
    color: white;
}

footer a:hover {
    color: unset;
    text-decoration-color: #ffc80c;
    text-decoration-thickness: 5px;
    text-underline-offset: 2px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

a, a:hover {
    color: #011633;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
