.app {
  display: flex;
}

.sidebar {
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: sticky;
  left: 0;
  top: 0;
  padding: 13px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column; // Ensure the filter content stacks vertically
  margin-top: 5px;

  &::after {
    content: "";
    position: absolute;
    top: 121px;
    left: 283px;
    bottom: 200px;
    width: 1px;
    height: 80%;
    background-color: #08812c;
  }
}

.main-content {
  flex: 1;
  padding: 80px;
  padding-left: 30px;
  width: 100%;
  margin-top: -65px; // Preserving first file's margin
}

h1 {
  font-size: 4.5rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.measures-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.button-container {
  grid-column: 2; /* Middle column */
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  justify-content: center; /* Center horizontally */
  align-items: center;
  position: relative;
  margin-top: 20px;
  width: 100%;
}

.load-more-button,
.hide-button {
  background-color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 10px; /* Add some space between the buttons */
}

.arrow-icon {
  width: 100px; // Adjust the width to your desired size
  height: 100px; // Adjust the height to maintain aspect ratio or set a specific height
  cursor: pointer; // Ensure the cursor indicates it's clickable
  margin: -20px; // Adjust this value as needed to reduce space
}

.measure-card {
  position: relative;
  background-color: #92d1ef;
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  font-weight: bold;
  overflow: hidden;
  margin-bottom: 30px;

  h5 {
    font-size: 23px;
    font-weight: bold;
    margin-top: -10px;
    margin-left: 4px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 90px solid #fff;
    border-left: 91px solid transparent;
  }
}

.card-body {
  flex: 1;
}

.sector {
  font-size: 18px;
  color: #4a0a78;
  margin-left: 4px;
  margin-top: -6px;
}

.code {
  position: absolute;
  bottom: -7px;
  left: 12px;

  p {
    color: #4a0a78;
    font-size: 20px;
  }
}

.card-header,
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars {
  color: #4b0082;
  font-size: 40px;
  margin-right: 40px;
}

.arrow-button {
  background-color: transparent;
  border: none;
  font-size: 55px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  right: -5px;
  bottom: -15px;
  color: #4a0a78;
}

.filter-panel {
  width: 250px;
  padding: 20px;
  background-color: white;

  h3,
  h4 {
    margin-bottom: 10px;
  }

  label {
    margin: 2px 5px;
  }

  .filter-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 94px 0 40px 0;

    .filter-icon {
      font-size: 20px;
      color: #666;
    }

    .trash-icon {
      font-size: 34px;
      color: #666;
      cursor: pointer;
    }

    h3 {
      margin: 0 0 0 20px;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .filter-section {
    margin-bottom: 20px;

    h4 {
      font-size: 16px;
      margin-bottom: 12px;
    }
  }

  .filter-options {
    display: flex;
    flex-direction: column;
    gap: 8px;

    button {
      border: none;
      cursor: pointer;

      &:hover {
        filter: brightness(1.1);
      }
    }
  }

  .filter-option {
    display: flex;
    align-items: center;
    gap: 8px;

    input[type="checkbox"] {
      width: 16px;
      height: 16px;
      margin: 0;
    }

    label {
      flex-grow: 1;
      font-size: 14px;
    }

    .info-icon {
      color: #999;
      font-size: 10px;
      width: 12px;
      height: 12px;
      border: 1px solid #999;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  .filter-divider {
    height: 1px;
    background-color: #a3d869;
    margin: 20px 80px 20px 40px;
  }

  .focus-dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }

  .focus-label {
    font-size: 14px;
    flex-grow: 1;
  }

  .filter-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .filter-icon-image {
    filter: invert(69%) sepia(29%) saturate(900%) hue-rotate(173deg)
      brightness(100%) contrast(90%);
  }

  label:has(+ .info-icon) {
    font-size: 16px;
  }

  .filter-options .stars {
    font-size: 22px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    height: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .close-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #d32f2f;
    }
  }
}

.clear-filters-button,
.share-button,
.add-button {
  margin-top: 20px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #3042a9;
  }
}

.clear-filters-button {
  background-color: #ff6b6b;

  &:hover {
    background-color: #d32f2f;
  }
}

.share-button,
.add-button {
  background-color: #3a9dc1;
}

.add-button {
  margin-left: 5px;
}

.checkbox {
  margin-right: 4px;
  font-size: 10px;
}

footer {
  background-color: #011633;
  padding: 50px 0 35px 0;
  color: white !important;
  font-family: FabrikatNormal;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 1.75;
}

footer a {
  color: white;
  background-color: transparent;
}

footer a:hover {
  color: unset;
  text-decoration-color: #ffc80c;
  text-decoration-thickness: 5px;
  text-underline-offset: 2px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.filter-panel {
  width: 280px;
  padding: 20px;
  background-color: white;

  .filter-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 94px 0 40px 0;

    .filter-icon {
      font-size: 20px;
      color: #666;

      .filter-button {
        background-color: transparent;
        border: none;
        cursor: pointer; /* Optional: makes it look more like a button */
        padding: 10px;
        display: flex;
        align-items: center;
      }
    }

    .trash-icon {
      font-size: 34px;
      color: #666;
      cursor: pointer;
    }

    h3 {
      margin: 0 0 0 20px;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .clear-filters-button {
    background-color: transparent;
    color: black;
    font-size: 30px;
    border: none;
  }

  .filter-section {
    margin-bottom: 20px;

    h4 {
      font-size: 16px;
      margin-bottom: 12px;
    }
  }

  .filter-options {
    display: flex;
    flex-direction: column;
    gap: 8px;

    button {
      border: none;
      cursor: pointer;

      &:hover {
        filter: brightness(1.1);
      }
    }
  }

  .filter-option {
    display: flex;
    align-items: center;
    gap: 8px;

    input[type="checkbox"] {
      width: 16px;
      height: 16px;
      margin: 0;
    }

    label {
      flex-grow: 1;
      font-size: 14px;
    }

    .info-icon {
      color: #999;
      font-size: 10px;
      width: 12px;
      height: 12px;
      border: 1px solid #999;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  .filter-divider {
    height: 1px;
    background-color: #46c20d;
    margin: 20px 80px 20px 40px;
  }

  .focus-dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }

  .focus-button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.2s ease;

    &:hover {
      filter: brightness(1.1);
    }

    .check-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
    }
  }

  .focus-label {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 10px;
  }

  .filter-icon-image {
    /*
    Adjust the filter values to change the color.
    - invert(69%): Inverts the black to white. Adjusting this changes the "base" color before hue manipulation.
    - sepia(29%): Adds a slight sepia tone to get more natural colors. You can increase this if you want more of a warm tone.
    - saturate(500%): Boosts the intensity of the colors. Increase this for more vibrant blue.
    - hue-rotate(173deg): Shifts the hue towards the blue spectrum. Adjust this to get different shades of blue.
    - brightness(120%): Makes the color brighter. Increase this to make it even brighter.
    - contrast(100%): Controls the contrast between dark and light areas. Increase this for more distinction.
  */
    filter: invert(69%) sepia(29%) saturate(900%) hue-rotate(173deg)
      brightness(100%) contrast(90%);
  }

  // Star styling
  label:has(+ .info-icon) {
    font-size: 16px;
  }

  .filter-options .stars {
    font-size: 22px;
  }

  .bookmark-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
}

//Width could be changed
@media only screen and (max-width: 1350px) {
  h1 {
    font-size: 40px;
  }

  .measures-grid {
    grid-template-columns: auto auto; // Measures on two columns when screen width less than 1350px
  }
}

// Width could be changed
@media only screen and (max-width: 1150px) {
  h1 {
    font-size: 29px;
  }

  .measures-grid {
    display: flex; // Make the measure be on one column when screen width less than 1150px
    flex-direction: column;
  }

  .measure-card {
    padding-top: 0px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 8px;
    height: 250px;
    margin-bottom: 30px;

    h5 {
      font-size: 23px;
      font-weight: bold;
      margin-top: -10px;
      margin-left: 4px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      border-bottom: 90px solid #fff;
      border-left: 91px solid transparent;
    }
  }

  .card-body {
    flex: 1;
  }

  .sector {
    font-size: 18px;
    margin-left: 4px;
    margin-top: -6px;
  }

  .code {
    position: absolute;
    bottom: -7px;
    left: 12px;

    p {
      font-size: 20px;
    }
  }

  .card-header,
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .stars {
    font-size: 40px;
    margin-right: 40px;
  }

  .arrow-button {
    background-color: transparent;
    border: none;
    font-size: 55px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    right: -5px;
    bottom: -15px;
  }
}

// Remove filtering panel when screen width less than 700px
@media only screen and (max-width: 700px) {
  .filter-panel,
  .sidebar {
    display: none;
  }
}
