.app {
  display: flex;
}

.sidebar {
  width: 12%;
  padding: 20px;
  background-color: #f4f4f4;
}

.main-content {
  width: 80%;
  padding: 15px;
}

h1 {
  font-size: 4.5rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.measures-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 20px;
}

.measure-card {
  position: relative;
  background-color: #92d1ef;
  // background-color: #aee1f9;

  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 8px;
  //   padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  font-weight: bold;
  overflow: hidden;
  margin-bottom: 30px;

  h5 {
    font-size: 23px;
    font-weight: bold;
    margin-top: -10px;
    margin-left: 4px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 90px solid #fff;
    border-left: 91px solid transparent;
  }
}

.card-body {
  flex: 1;
}

.sector {
  font-size: 18px;
  color: #4a0a78;
  margin-left: 4px;
  margin-top: -6px;
}

.code {
  position: absolute;
  bottom: -7px; /* Adjust distance from the bottom */
  left: 12px; /* Optional: Adjust distance from the left */

  p {
    color: #4a0a78;
    font-size: 20px;
  }
}

.card-header,
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars {
  color: #4b0082;
  font-size: 40px;
  margin-right: 40px;
}

.arrow-button {
  background-color: transparent;
  border: none;
  font-size: 55px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  right: -5px; /* Move the arrow more to the right */
  bottom: -15px; /* Move the arrow further down */
}

.filter-panel {
  h3,
  h4 {
    margin-bottom: 10px;
  }

  label {
    margin: 2px 5px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    height: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .close-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #d32f2f;
    }
  }
}

.clear-filters-button,
.share-button,
.add-button {
  margin-top: 20px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #3042a9;
  }
}

.clear-filters-button {
  background-color: #ff6b6b;

  &:hover {
    background-color: #d32f2f;
  }
}

.share-button,
.add-button {
  background-color: #3a9dc1;
}

.add-button {
  margin-left: 5px;
}

.checkbox {
  margin-right: 4px;
  font-size: 10px;
}
